<nav class="navbar">
  <div class="nav-item">
    <a routerLink="/" class="nav-link">
      Home
    </a>
  </div>

  <div class="nav-menu" *ngIf="user">
    <img
      [src]="user.profileImgUrl"
      alt="avatar"
      class="avatar"
      *ngIf="user.profileImgUrl"
    />
    <h3>Welcome , {{ user.profileName ? user.profileName : user.username }}</h3>
  </div>

  <div class="nav-menu" *ngIf="user; else navMenu">
    <div class="nav-item">
      <a routerLink="/profile" class="nav-link">
        Profile
      </a>
    </div>
    <div class="nav-item">
      <a href="#" class="nav-link" (click)="logout()">
        Logout
      </a>
    </div>
  </div>

  <ng-template #navMenu>
    <div class="nav-menu">
      <div class="nav-item">
        <a routerLink="/signup" class="nav-link">
          Sign Up
        </a>
      </div>
      <div class="nav-item">
        <a routerLink="/login" class="nav-link">
          Login
        </a>
      </div>
    </div>
  </ng-template>
</nav>
