<div class="card-colored">
  <a [routerLink]="'/posts/' + post.id" class="card-link"
    ><div class="post">
      <div class="post-head">
        <img
          [src]="'http://localhost:1337' + post.user.avatar.url"
          alt="avatar"
          class="avatar"
          *ngIf="post.user.avatar; else noAvatar"
        />
        <ng-template #noAvatar
          ><img
            src="../../../assets/avatar-placeholder.png"
            alt="avatar"
            class="avatar"
        /></ng-template>
        <h3 class="post-username">
          {{
            post.user.profileName ? post.user.profileName : post.user.username
          }}
        </h3>
      </div>
      <div class="post-content">
        <p class="post-text">{{ post.postText }}</p>
        <div
          class="post-media-wrapper"
          *ngFor="let postImage of post.postMedia"
        >
          <img
            [src]="'http://localhost:1337' + postImage.url"
            alt="post-image"
            class="post-img"
          />
        </div>
      </div>
    </div>
  </a>

  <div class="post-footer">
    <div class="post-actions">
      <a href="#" class="post-action"><fa-icon [icon]="faComment"></fa-icon></a>
      <span class="post-action-count"> {{ post.postCommentCount }} </span>

      <a href="#" class="post-action" (click)="likePost(post.id)" *ngIf = "!isPostLiked; else likedIcon"><fa-icon [icon]="faHeart"></fa-icon></a>
      <ng-template #likedIcon>
        <a href="#" class="liked-post-icon" (click)="unlikePost(post.id)"><fa-icon [icon]="faHeart"></fa-icon></a>
      </ng-template>
      <span class="post-action-count"> {{ post.postLikeCount }} </span>

    </div>
    <div class="post-time">
      <p>{{ post.created_at | date: "dd/MM/yyyy" }}</p>
    </div>
  </div>
</div>
